* {
    padding: 0;
    margin: 0;
}

/* logo */

.img-logo {
    background: url(../images/cd-big-logo.png) no-repeat;
    width: 195px;
    height: 138px;
    background-position: center;
    background-color: #cd3232;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.second-logo{
    position: relative;
    top: 0;
    float: left;
    margin-top: -10px;
    z-index: 1;
    background-color: #cd3232;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 15px 2px rgb(100 100 100 / 49%);
    transition: all .3s;
}

/* <--top-header */


.bottom-header {
    position: sticky;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1;
    height: 39px;
    line-height: 39px;
    top: 60px;
    background-color: #454545;
    color: #ffffff;
}

.top-header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: #322f2e;
    border-bottom: 0;
    min-height: 60px;
    height: 60px;
}




.dropdown-toggle::after {
    display: inline-block;
    margin-left: 2.255em;
}

.input-group {
    right: 28px;
    top: 10px;
    width: 88%;
}

.input-group .btn {
    border-radius: 0;
    border: 0;
    background-color: #d8d8d8;
    color: black;
    line-height: 40px;
    z-index: 1042;
    cursor: pointer;
    height: 40px;
    width: 88px;
    padding: 0;

}

.form-control {
    height: 40px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;

}

.btn-srach {
    border-radius: 0;
    border: 0;
    background-color: #cd3232;
    color: white;
    line-height: 40px;
    z-index: 1042;
    cursor: pointer;
    height: 40px;
    width: 50px;
    padding: 0;
}

.btn-outline-secondary:hover {
    color: black;
}

.form-control:focus {
    color: black;
    background-color: #fff;
    border-color: unset !important;
}

.profile {
    width: 183px;
    height: 60px;
    cursor: pointer;
    background-color: #050000;
}

.user-profile img {
    margin-left: 12px;
}

.icon-angle i {
    color: white;
    position: absolute;
    margin: -24px 142px 0;

}

.notification {
    position: absolute;
    top: 2px;
    right: 253px;
    background: #e74c3c;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    animation: notification 1000ms infinite linear;
}

@keyframes notification {
    0% {
        box-shadow: 0 0 0 0em #c0392b;
    }

    25% {
        box-shadow: 0 0 0 0.25em #c0392b;
    }

    50% {
        box-shadow: 0 0 0 0.5em #c0392b;
    }

    75% {
        box-shadow: 0 0 0 0.25em #c0392b;
    }

    100% {
        box-shadow: 0 0 0 0.15em #c0392b;
    }

}

.profile-ern h3 {
    font-size: 14px;
    color: white;

}

.profile-ern h2 {
    font-size: 16px;
    color: #b78810
}

.profile-ern {
    margin: -59px 0 0 74px
}




/* <--top-header end */

/* <--bottom-header start */

.bottom-header li {
    list-style: none;
    padding: 0 68px 0 0;
    position: relative;
    left: 220px;
    font-size: 14px;
}


.bottom-header a {
    text-decoration: none;
    color: white;
}




.slic-slider {
    margin: 100px 0 0 0;
}

.heading-text {
    font-family: HelveticaNeue;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.22px;
}



.carousel {
    transition: all 0.03s;
    margin: 0px auto;
}

.slick-slide {
    margin: 0;
    padding: 0;
}



.hero-slider {
    height: 400px;
    width: 100%;
}

.stores h1 {
    font-family: HelveticaNeue;
    font-size: 20px;
    font-weight: bold;
    color: #322f2e;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.stores {}

.line {
    background: #d8d8d8;
    height: 2px;
    flex: 1;
    content: '';
    margin-left: 24px;
    margin-top: 11px;
}

/* multiple card services */


.bg-imaege {

    background: url(../images/featured-store.png) center no-repeat;
}

.bg-imaege h3 {
    height: 81px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 81px;
    letter-spacing: 0.26px;
    text-align: center;
    color: white;
}


.bigrock img {
    height: 70px;
    border-radius: 3px;
    border: solid 1px #d9e0e2;
    background-color: #ffffff;
    width: 180px;
    cursor: pointer;
    margin: 25px auto;
    display: flex;
    vertical-align: middle;
    margin-bottom: 18px;
    transition: box-shadow 100ms ease-in-out;
}

.bigrock img:hover {
    box-shadow: 2px 4px 8px 0 rgb(0 0 0 / 20%);
}

.bigkart {}

.servise-item {
    width: 240px;
    height: 338px;
    border-radius: 3px;
    border: solid 1px #d9e0e2;
    cursor: pointer;
    position: relative;
    transition: box-shadow 100ms ease-in-out;
}

.BIGROCK {
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.55px;
    color: #4a4a4a;
    text-align: center;

}



.BIGROCK-1 {
    color: #2BA828;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.4px;
    text-align: center;
}

.btn-card {
    width: 200px;
    height: 38px;
    border-radius: 3px;
    background-color: #cd3232;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.02px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 15px;
    transition: btn-card 100ms ease-in-out;
}

.servise-item:hover {
    box-shadow: 2px 4px 8px 0 rgb(0 0 0 / 20%);
}

.btn-card:hover {
    background-color: white;
    color: #cd3232;
    border: 2px solid #cd3232;
}


.item1 {
    padding: 0 227px 0 0;
}

.item-brand {
    width: 280px;
    margin-left: 62px;
    height: 100px;
    border-radius: 3px;
    border: solid 1px #d9e0e2;
    background-color: #ffffff;
    margin-top: 9px;
    display: inline-flex;
    cursor: pointer;
    text-align: left;
}

.item-brand:hover {
    box-shadow: 2px 4px 8px 0 rgb(0 0 0 / 20%);
}

.servise-ecommerc {
    border-right: 1px solid #d9e0e2;
    border-radius: 3px;
    height: 100px;
}

.servise-ecommerc img {
    margin-top: 23px;
}

.texte h4 {
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.67;
    margin-top: 6px;
    margin-left: 13px;
    color: #4a4a4a;
}

.texte h5 {
    font-size: 13px;
    line-height: 1.92;
    margin-top: 23px;
    margin-left: 13px;
    color: #666666;
    position: absolute;
    width: max-content;
}

.buyrs-offer {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    margin: 12px;
    color: #2BA828
}

/* cursor end  */

.items2 h3 {
    font-family: HelveticaNeue;
    font-size: 20px;
    font-weight: bold;
    color: #322f2e;

}

.state-line {
    background: #d8d8d8;
    height: 2px;
    flex: 1;
    content: '';
    margin-left: 24px;
    margin-top: 11px;
}

.gif-1 img {
    width: 32px;
    margin-left: 4px;
    margin-top: -12px;
}

/* complet */



.items3 h3 {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: normal;
    color: #6e6e6e;
    margin-top: 14px;
    text-transform: none;
}

.items3 {
    text-align: center;
    align-items: center;
    width: 260px;
    height: 225px;
    border-radius: 3px;
    border: solid 1px #d9e0e2;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
}

.discount {
    color: #2BA828
}

.btn-card1 {
    width: 186px;
    height: 34px;
    border-radius: 3px;
    background-color: #cd3232;
    margin: auto;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    right: 0px;
    left: 0;
    bottom: 20px;
    position: absolute;
    letter-spacing: 0.02px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #cd3232;
    width: 226px;
    transition: btn-card 100ms ease-in-out;
}

.btn-card1:hover {
    background-color: white;
    color: #cd3232;
}

.img-nilkamal img:hover {
    box-shadow: 2px 4px 8px 0 rgb(0 0 0 / 20%);
}

.img-nilkamal img {
    width: 160px;
    height: 56px;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

/* section :end */


.Today h2 {
    height: 52px;
    border-radius: 5px;
    border: solid 1px #e3e4e4;
    border-bottom: none;
    line-height: 52px;
    padding: 0px 15px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.18px;
    color: #4a4a4a;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.other-clint {
    text-align: center;
    align-items: center;
    width: 255px;
    height: 305px;
    border-radius: 3px;
    border: solid 1px #d9e0e2;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;

}

.other-clint:hover {
    box-shadow: 2px 4px 8px 0 rgb(0 0 0 / 20%);
}

.other-clint h2 {
    font-size: 20px;
    font-weight: bold;
    color: #159816;
    margin: 18px auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.other-clint h4 {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.13px;
    text-align: center;
    color: #4a4a4a;
    margin: 12px 26px 0px 27px;
    white-space: all;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 48px;
}

.btn-card3:hover {
    background-color: white;
    color: #cd3232;
}

.btn-card3 {
    width: 186px;
    height: 34px;
    border-radius: 3px;
    background-color: #cd3232;
    margin: auto;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    right: 0px;
    left: 0;
    bottom: 20px;
    position: absolute;
    letter-spacing: 0.02px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #cd3232;
    transition: btn-card3 100ms ease-in-out;
}

.Voucher {
    color: #159816;
}


.other-card {
    width: 160px;
    height: 56px;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}

.other-card:hover {
    box-shadow: 2px 4px 8px 0 rgb(0 0 0 / 20%);
}


/* .btn-card3 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 162px;
    height: 100%;
    color: #fff;
}

.btn-card3::after {
    position: absolute;
    right: 15px;
    width: 30px;
    height: 2px;
    content: '';
    background-color: #cd3232;
} */


.bigkart-1 {
    background-color: #f9f9f9;
    align-items: center;
}

.Signup-free {
    margin-top: 40px;
    background-color: #272e3a;
    text-align: center;
    text-align: center;
    line-height: normal;
    color: white;
}

.display-text {
    display: inline-block;
    margin-top: 21px;
    margin-bottom: 19px;
    margin-left: 229px;
}

.display-text h2 {
    color: #fff;
    font-family: "ArialRoundedMTBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.16;
    letter-spacing: 0.04px;
    text-align: center;
    color: #ffffff;
}

.sinup-btn {
    width: 186px;
    height: 50px;
    border-radius: 4px;
    background-color: #cd3232;
    font-size: 14px;
    transition: all .3s;
    margin-top: 31px;
    font-family: HelveticaNeue;
    letter-spacing: 0.2px;
    margin-left: 35px;
}

.sinup-btn:hover {
    background-color: white;
    color: #c0392b;
    border: 0;
}

.man-original img {
    margin-left: 62px;
}


.box-data {
    float: right;
    color: #fff;
    position: absolute;
    width: 180px;
    height: 60px;
    line-height: 60px;
    margin-top: -50px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 25%);
    vertical-align: middle;
    text-align: center;
    z-index: 999;
    display: none;

}

.text-aria {
    height: 115px;
    background-color: #feeacf;
    border: 1px solid #ddc389;
    padding: 20px 16px;
    box-sizing: border-box;
    line-height: 14px;
    width: 351px;
    margin-left: -193px;
    margin-top: 7px;
    position: absolute;
}


.profile:hover+.box-data {
    display: block;
}



.currency img {
    height: 31px;
    width: 44px;
    margin: 0 0 0 -281px;
}

.text-aria h1 {
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #393939;
    letter-spacing: 0.3px;
    margin-top: -59px;
    margin-left: 56px;
}

.text-aria p {
    font-size: 13px;
    color: black;
    text-align: left;
    margin-left: 57px;
}

.text-aria a {
    text-decoration: none;
    margin: 0 121px 0 0;
}

.text-aria a:hover {
    text-decoration: 1px solid underline;

}

.box-data:hover {}


.items4 {
    width: 220px;
    height: 225px;
    border-radius: 3px;
    border: solid 1px #d9e0e2;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
}


.items4 h3 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.55px;
    color: #4a4a4a;
    margin-top: 7px;
    text-transform: uppercase;
}


.btn-card5 {
    width: 186px;
    height: 34px;
    border-radius: 3px;
    background-color: #cd3232;
    margin: auto;

    font-size: 12px;
    font-weight: bold;
    right: 0px;
    left: 0;
    bottom: 20px;
    position: absolute;
    letter-spacing: 0.02px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #cd3232;
    transition: btn-card5 100ms ease-in-out;

}

.btn-card5:hover {
    background-color: white;
    color: #cd3232;
}

.discount-1 {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    bottom: 70px;
    position: absolute;
    letter-spacing: -0.4px;
    left: 0;
    right: 0;
    padding: 0px 19px;
    color: #2BA828;

}


.mailbox {
    height: 114px;
    background-color: #272e3a;

}

.mail-box img {
    margin-top: 32px;
}

.Subscribe h3 {
    font-size: 20px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 70px;
}

.Subscribe-button input {
    width: 304px;
    height: 50px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 31px;
}

.sub-btn {
    display: inline-block;
    width: 167px;
    height: 51px;
    border-radius: 4px;
    background-color: #cd3232;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s;
    border: 0;
}

.sub-btn:hover {
    background-color: white;
    color: #cd3232;
}

.services-icons {
    height: 99px;
    border-radius: 5px;
    border: solid 1px #e3e4e4;
    border-bottom: none;
    cursor: pointer;
    padding: 0px 26px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}

.font-s h2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.18px;
    color: #4a4a4a;
    text-transform: uppercase;
    cursor: pointer;
}

.foods-table img {
    margin-left: 44px;
    margin-top: 12px;
}

.services-icons2 {
    height: 99px;
    border-radius: 5px;
    border: solid 1px #e3e4e4;
    border-bottom: none;
    padding: 0px 26px;
    cursor: pointer;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 102px;
}

.services-icons3 {
    height: 99px;
    border-radius: 5px;
    border: solid 1px #e3e4e4;
    border-bottom: none;
    padding: 0px 26px;
    cursor: pointer;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}

.services-icons4 {
    height: 99px;
    border-radius: 5px;
    border: solid 1px #e3e4e4;
    border-bottom: none;
    padding: 0px 26px;
    cursor: pointer;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}

.services-icons5 {
    height: 99px;
    border-radius: 5px;
    border: solid 1px #e3e4e4;
    border-bottom: none;
    padding: 0px 26px;
    cursor: pointer;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}

.foods-table1 img {
    margin-left: 10px;
    margin-top: 12px;

}


.foods-table2 img {
    margin-left: 10px;
    margin-top: 12px;
}

.foods-table3 img {
    margin-left: 44px;
    margin-top: 12px;
}

.foods-table4 img {
    margin-left: 44px;
    margin-top: 12px;
}

.foods-table5 img {
    margin-left: 44px;
    margin-top: 12px;
}


.stores2 h1 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.18px;
    color: #4a4a4a;
    align-items: center;
    padding-left: 30px;

}

.stores2 {
    background-color: #f9f9f9;
}


.bg-colors {
    background-color: #f9f9f9;
}

.store-card {
    width: 164px;
    height: 130px;
    margin: 0 18px 16px;
    border-radius: 4px;
    border: solid 1px #d9e0e2;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
}

.store-card h6 {
    font-weight: 500;
    bottom: 20px;
    font-size: 16px;
    color: #2BA828;
    text-align: center;
}


.store-img img {
    margin-top: 5px;
    margin-left: 20px;
}

.store-card-hover {
    border-radius: 4px;
    font-size: 14px;
    position: absolute;
    height: 0px;
    bottom: 0;
    overflow-y: hidden;
    color: white;
    background-color: #cd3232;
    transition: all 0.5s cubic-bezier(0.17, 0.88, 0.32, 1.28);
    width: 100%;
}

.store-card:hover .store-card-hover {
    display: block;
    height: 100%;
}

.store-card-hover h3 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin-top: 15px;

}

.store-card-hover h5 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: white;
}

.bank-offers {
    width: 48%;
    height: 205px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.bank-offers h4 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #4a4a4a;
    text-align: left;
    margin-left: 31px;
    margin-bottom: -25px;
}


.bank-service {
    width: 145px;
    height: 68px;
    border: solid 1px #d9e0e2;
    background-color: #ffffff;
    cursor: pointer;
}

.bank-img img {
    object-fit: contain;
    cursor: pointer;
    width: 86%;
}

.bank-service:hover {
    box-shadow: 2px 4px 8px 0 rgb(0 0 0 / 20%);
}

.service-sbi {
    margin: 45px -269px 0 20px
}

.bank-img1 img {
    object-fit: contain;
    cursor: pointer;
    width: 100%;
    height: 65px;
}

/* footer */



.footer-top {
    background-color: #635c5a;

}

.footer-links ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.footer-links ul {
    list-style: none;
}

.footer-links h6 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.footer-links {
    margin-top: 50px;
    margin-bottom: 50px;
}

.li-hover li :hover {
    text-decoration: 1px solid underline;
}






.footer-icons li {
    color: rgb(5, 21, 56);
    font-size: 32px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    position: relative;
    margin: 6px 5px;
    transition: 0.2s;
    transform: scale(0.7);
}

.footer-icons li::before {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.footer-icons li:hover ::before {

    transform: scale(0.7);



}


.footer-icons li:hover {
    color: white;
    transform: scale(0.8);
    background-color: rgb(53, 53, 191);
}

/* hub-footer */


.hub-footer {
    background-color: #544e4d;
    font-size: 12px;
}

.social-midea-links h6 {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;

}

.social-midea-links ul li {
    list-style: none;
    margin: -2px 5px 0 4px;
}

.social-midea-links ul {
    margin: 0;
    padding: 0;
}

.social-midea-links ul li a {
    text-decoration: none;
    color: white;

}

.social-midea-links ul li a:hover {
    text-decoration: 1px solid underline;
}

.social-midea-links span {
    padding: 1px;
}


.footer-bottom {
    background-color: #3d3a38;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 30px;

}

.main-div {
    width: 380px;
    height: 492px;
    background-color: #ffd050;
    display: inline-block;
    text-align: center;
}

.logo-div {
    padding: 13px;
    height: 88px;
    font-weight: 500;
    background-color: #f0b003;
}

.logo-text h5 {
    font-size: 17px;
    color: black;
    text-align: left;

}

.logo-text h6 {
    font-size: 27px;
    font-weight: bold;
    text-align: left;
    color: #0a0a0a;


}



.logo {
    background: url(../images/extension-main-sprites3.png) no-repeat;
    width: 57px;
    height: 58px;
    background-position: 50% 50%;
}

.caseback {
    color: #a27600;
    text-align: left;
}

.Cashback-d {
    font-size: 14px;
    font-weight: 500;

    color: #8a6500;
}

.cashback-c {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #cd3232;
}

.dvider {
    width: 200px;
    height: 0px;
    margin-left: 128px;
    border: 1px solid black;
    opacity: 0.12;
}

.btn-download {
    width: 380px;
    background-color: rgb(228, 38, 38);
    color: white;
    border: none;
    border-radius: 0;
    margin-left: -13px;
    height: 69px;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    outline: 0;
}

.btn-download:hover {
    opacity: 0.75;
    color: white;
}

button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}


.mobile_app {
    position: relative;
    width: 360px;
    height: 243px;
    background: #050000;
    border-radius: 2px;

}

.google-play {
    position: absolute;
    right: 37px;
    top: 99px;

}

.blogs-text {
    /* margin: 0 -41px; */
}

.flipkart-sell a {
    color: #e0e0e0;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    margin-top: 23px;
    margin-left: -26px;
}

.thum-logo img {
    margin-top: 31px;
}

.flipkart-sell a:hover {
    text-decoration: 1.50px solid #e0e0e0 underline;

}

.dmca img {
    margin: 11px 0 0 120px;
}


.hiring h2 {
    font-size: 20px;
    padding-bottom: 15px;
}

.hiring p {
    color: rgba(255, 255, 255, 0.7);
}

.hiring a {
    color: white;
    text-decoration: none;
}


.hiring a:hover {
    text-decoration: 1px solid white underline;
}

.hiring-top h2 {
    font-size: 20px;
   
}


.hiring-top {
    margin-top: 94px;
}

.hiring-top p {
    color: rgba(255, 255, 255, 0.7);
}

.Subscribe-button-1 input {
    width: 217px;
    height: 42px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    border: none;
    outline: none;
    font-size: 14px;
}

.sub-btn-1{
    width: 103px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #febe10;
    color: #322f2e;
    display: inline-block;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: all .3s;
    border: 0;
    padding: 0;
    font-size: inherit;
}


.sub-btn-1:hover{
    color: #febe10;
    background-color: #322f2e;

}

.bottom-footer{
    background-color: #050000;
    height: 70px;
    color: #ffffff;
    text-align: center;
}